.footer {
    background: black;
}

.column {
    width: 30%;
}

.footer-column-title {
    color: #a7905c;
}

.footer-hr {
    width: 1px !important;
    transform: rotate(90);
    background-color: white;
}


li {
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: #a7905c;
    font-weight: 500;
    border: none;
    border-bottom: 1px solid #999999;
}

.copyright-links {
    text-decoration: none;
}

li>span,
.text-grey {
    color: #999999 !important;
}

.store {
    width: 115px;
    height: 35px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 5px;
}

.main-column {
    background-color: #282828;
}

.main-column>* {
    margin: 10px;
}

.text-grey {
    border: none;
    padding: 3px
}

.fa-ul {
    margin-left: var(--fa-li-margin,1.5em) !important;
}

.list-group-none {
    list-style-type: none;
    list-style-position: inside;
}

@media screen and (max-width: 768px) {
    .column {
        padding: 15px;
        width: 100%;
    }

    .p-lg-4 {
        padding: 10px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .p-lg-4 {
        padding: 50px;
    }

    .p-lg-5 {
        padding: 40px;
    }
}